body {
    background-color: green;
    box-sizing: border-box;
}
.card {
    position: relative;
    text-align: center;
    background: white;
    margin: 0 auto;
    width: 300px;
    height: 350px;
    padding: 40px;
    padding-top: 150px;
    padding-bottom: 0px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: .2em .2em .5em #333;
    font-size: 80px;
    vertical-align: middle;

    /*position: relative;
    display: flex;*/
   
}
/*.numero::before{
    padding-top: 150px;
    font-size: 80px;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color:red;
   
}
.numero::after{
    padding-top: 150px;
    font-size: 80px;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
    color:red;
   
}*/
.spades::before {
    position: absolute;
    content: "\2660";
    color: black;
    left: 10px;
    font-size:60px;
}
.spades::after {
    position:absolute;
    content: "\2660";
    color: black;
    right: 10px;
    font-size:60px;
}
.hearts::before {
    position: absolute;
    content: "\2665";
    color: red;
    top: 0px;
    left: 10px;
    font-size:60px;
}
.hearts::after {
    position: absolute;
    content: "\2665";
    color: red;
    right: 10px;
    bottom: 0px;
    font-size: 60px;
}
.diamond::before{
    position: absolute;
    content: "\2666";
    color: black;
    left: 10px;
    font-size: 60px;
}
.diamond::after {
    position: absolute;
    content: "\2666";
    color: black;
    right: 10px;
    bottom: 0px;
    font-size: 60px;
}
.club::before{
    position: absolute;
    content: "\2663";
    color: black;
    left: 10px;
    font-size: 60px;
}
.club::after {
    position: absolute;
    content: "\2663";
    color: black;
    right: 10px;
    bottom: 0px;
    font-size: 60px;
}
