body {
    background-color: green;
}
.card {
position: relative;
display: inline-block;
width: 300px;
height: 450px;
background-color: white;
border: 1px solid black;
text-align: center;
border-radius: 5px;
box-shadow: .2em .2em .5em #333;
font-size: 25px;


}


.number{
    position: absolute;
    
}

.card:after {
font-size: 70%;
font-weight: bold;
}
.spades::before,
.spades::after {
content: "\2660";
color: black;
}
.heart::before,
.heart::after {
content: "\2665";
color: red;
}
.black_diamond::before,
.black_diamond::after {
content: "\2666";
color: black;
}
.black_club::before,
.black_club::after {
content: "\2663";
color: black;
}
